[submodule "moveit"]
	path = moveit
	url = https://github.com/cambel/moveit.git
    branch = TEM
[submodule "moveit_resources"]
	path = moveit_resources
	url = https://github.com/cambel/moveit_resources.git
    branch = master
[submodule "moveit_msgs"]
	path = moveit_msgs
	url = https://github.com/cambel/moveit_msgs.git
    branch = add-group-name-tem
[submodule "moveit_tutorials"]
	path = moveit_tutorials
	url = https://github.com/cambel/tutorials.git
    branch = master
