<launch>
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
    
    <node pkg="panda_dual_arm_demo" type="simple_path_moveitcpp" 
          name="simple_path_moveitcpp" output="screen" 
          launch-prefix="$(arg launch_prefix)"
          />
</launch>